<!-- Left Sidebar  -->
<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li><a href="./"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#rezSubMenu"><i class="fa fa-pencil"></i>Reservation  <i class="fa fa-angle-down"></i></a>
          <ul id="rezSubMenu">
            <li>
              <a href="/hotel"><i class="fa fa-cube"></i> Hotels</a>
            </li>
            <li>
              <a href="/hotel-contract"><i class="fa fa-cube"></i> Hotel Contracts</a>
            </li>
            <li>
              <a href="/round-trip"><i class="fa fa-sun-o"></i> Round Trips</a>
            </li>
          </ul>
        </li>
        <li><a href="#oprSubMenu"><i class="fa fa-pencil"></i>Excursion & Transfer  <i class="fa fa-angle-down"></i></a>
          <ul id="oprSubMenu">
            <li><a href="#trfSubMenu"><i class="fa fa-pencil"></i>Transfer Operation  <i class="fa fa-angle-down"></i></a>
              <ul id="trfSubMenu">
                <li>
                  <a href="/vehicle"><i class="fa fa-cube"></i> Vehicles</a>
                </li>
                <li>
                  <a href="/vehicle-supplier"><i class="fa fa-cube"></i> Vehicle Supplier</a>
                </li>
                <li>
                  <a href="/driver"><i class="fa fa-cube"></i> Drivers</a>
                </li>
              </ul>
            </li>
            <li><a href="#excSubMenu"><i class="fa fa-pencil"></i>Excursion Operation  <i class="fa fa-angle-down"></i></a>
              <ul id="excSubMenu">
                <li>
                  <a href="/round-trip-date"><i class="fa fa-sun-o"></i> Round Trip Dates</a>
                </li>
                <li>
                  <a href="/excursion"><i class="fa fa-sun-o"></i> Excursions</a>
                </li>
                <li>
                  <a href="/guide"><i class="fa fa-cube"></i> Guides</a>
                </li>
                <li>
                  <a href="/hotel-rep"><i class="fa fa-cube"></i> Hotel Reps</a>
                </li>
                <li>
                  <a href="/supplier"><i class="fa fa-cube"></i> Suppliers</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#accSubMenu"><i class="fa fa-pencil"></i>Accounting&Administration <i class="fa fa-angle-down"></i></a>
          <ul id="accSubMenu">
            <li>
              <a href="/shop-tour"><i class="fa fa-cube"></i> Shop</a>
            </li>
            <li>
              <a href="/user"><i class="fa fa-cube"></i> Staff Members (Office)</a>
            </li>
            <li>
              <a href="/exchange-rate"><i class="fa fa-cube"></i> Exchange Rate</a>
            </li>
          </ul>
        </li>
        <li><a href="#defSubMenu"><i class="fa fa-pencil"></i>General Definitions   <i class="fa fa-angle-down"></i></a>
          <ul id="defSubMenu">
            <li>
              <a href="/area"><i class="fa fa-cube"></i> Areas</a>
            </li>
            <li>
              <a href="/sub-area"><i class="fa fa-cube"></i> Sub Areas</a>
            </li>
            <li>
              <a href="/service"><i class="fa fa-cube"></i> Services</a>
            </li>
            <li>
              <a href="/fuel"><i class="fa fa-cube"></i> Fuel</a>
            </li>
            <li>
              <a href="/fuel-company"><i class="fa fa-cube"></i> Fuel Companies</a>
            </li>
            <li>
              <a href="/entrance"><i class="fa fa-cube"></i> Entrance</a>
            </li>
            <li>
              <a href="/cash-payment"><i class="fa fa-cube"></i> Cash Payments</a>
            </li>
            <li>
              <a href="/operator"><i class="fa fa-cube"></i> Operators</a>
            </li>
            <li>
              <a href="/shop"><i class="fa fa-cube"></i> Shops</a>
            </li>
            <li>
              <a href="/product"><i class="fa fa-cube"></i> Products</a>
            </li>
          </ul>
        </li>
        <li><a href="#adminSub"><i class="fa fa-pencil"></i>Settings   <i class="fa fa-angle-down"></i></a>
          <ul id="adminSub">
            <li>
              <a href="/end-point"><i class="fa fa-cube"></i> End Points</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->
