<!-- Container fluid  -->
<div class="container-fluid">
  <!-- Start Page Content -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-title">
          <h3><b>Restaurants </b></h3>
        </div>
        <div class="card-body">

          <form (submit)="doSearchRestaurant()">
            <table class="table table-bordered">
              <tr>
                <td>
                  <input type="text" name="name" [(ngModel)]="searchRestaurant.name" autocomplete="off" class="form-control" placeholder="Name">
                </td>
                <td>
                  <select class="form-control" [(ngModel)]="searchRestaurant.rate" name="rate">
                    <option value=""> Filter By Rate </option>
                    <option value="5">5+ </option>
                    <option value="4">4+</option>
                    <option value="3">3+</option>
                    <option value="2">2+</option>
                    <option value="1">1+</option>
                  </select>
                </td>

                <td class="text-right">
                  <button class="btn btn-success" type="submit">
                    <i class="fa fa-search-plus" id="search-icon"></i> Search
                  </button>
                </td>
              </tr>
            </table>
          </form>


          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th><b>Name</b></th>
                <th><b>Owner</b></th>
                <th><b>Rate</b></th>
                <th><b>Actions</b></th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let restaurant of restaurantList?.content">
                <td><strong style="color: #6c757d ">{{restaurant.name}}</strong></td>
                <td><strong style="color: #6c757d ">{{restaurant.owner.firstName}}  {{restaurant.owner.lastName}}</strong></td>
                <td><strong style="color: #6c757d ">{{restaurant.rate}}</strong></td>
                <td>
                  <button type="button" (click)="detail(restaurantModal,restaurant.id)" class="btn btn-warning m-b-10 m-l-5">
                    Detail
                  </button>
                  <button type="button" (click)="openReviewPage(reviewModal,restaurant.id,restaurant.name)" class="btn btn-success m-b-10 m-l-5">
                    My Reviews
                  </button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-7">
              Total {{restaurantList?.numberOfElements}}
            </div>
            <div class="col-5">
              <div class="btn-group float-right">
                <button *ngIf="!restaurantList?.first" (click)="prevPage()" class="btn btn-gradient waves-effect"
                        type="button"><i class="fa fa-chevron-left"></i></button>
                <button *ngIf="!restaurantList?.last" (click)="nextPage()" class="btn btn-gradient waves-effect"
                        type="button"><i class="fa fa-chevron-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #restaurantModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Restaurant Detail</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="modal-body">
        <div class="basic-form">
          <div class="form-group">
            <label>Name</label>
            <input type="text" disabled name="name" [(ngModel)]="restaurantDetail.name" class="form-control" >
          </div>
          <div class="form-group">
            <label>Owner</label>
            <input type="text" disabled name="owner" [(ngModel)]="restaurantDetail.owner" class="form-control" >
          </div>
          <div class="form-group">
            <label>Rate</label>
            <input type="number" disabled name="rate" [(ngModel)]="restaurantDetail.rate" class="form-control" >
          </div>
          <div class="form-group">
            <label>Highest Rated Review </label>
            <input type="text" disabled name="highestRatedReview" [(ngModel)]="restaurantDetail.highestRatedReview" class="form-control" >
            <input type="number" disabled name="highestRate" [(ngModel)]="restaurantDetail.highestRate" class="form-control" >
          </div>
          <div class="form-group">
            <label>Lowest Rated Review </label>
            <input type="text" disabled name="lowestRatedReview" [(ngModel)]="restaurantDetail.lowestRatedReview" class="form-control" >
            <input type="number" disabled name="lowestRate" [(ngModel)]="restaurantDetail.lowestRate" class="form-control" >
          </div>
          <div class="form-group">
            <label>Last Review </label>
            <input type="text" disabled name="latestReview" [(ngModel)]="restaurantDetail.latestReview" class="form-control" >
            <input type="number" disabled name="latestRate" [(ngModel)]="restaurantDetail.latestRate" class="form-control" >
            <input type="text" disabled name="latestDate" class="form-control" autocomplete="off"
                   [(ngModel)]="restaurantDetail.latestDate">
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalRef.hide()" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </form>
  </div>
</ng-template>




<!--- Review Side ----->

<ng-template #reviewModal>
  <div class="modal-header">
    <h4 class="modal-title" style="margin: 0 auto;">My Reviews for {{restaurantName}}</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" [ngClass]="FadeOutLink()"  role="alert" *ngIf="success.message.length > 0">
      {{success.message}}
    </div>
    <div class="table-responsive">

      <div class="row">
        <div class="col align-self-end">
          <button type="button" (click)="openReviewCreateEditModal(reviewDetailModal)"
                  class="btn btn-success m-b-10 m-l-5 pull-right">Create New Review
          </button>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th><b>Visit Date</b></th>
          <th><b>Comment</b></th>
          <th><b>Rate</b></th>
          <th><b>Actions</b></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let review of reviewList?.content">
          <td><strong style="color: #6c757d ">{{review.visitDate}}</strong></td>
          <td><strong style="color: #6c757d ">{{review.comment}}</strong></td>
          <td><strong style="color: #6c757d ">{{review.rate}}</strong></td>
          <td>
            <button type="button" (click)="editReview(reviewDetailModal,review.id)" class="btn btn-warning m-b-10 m-l-5">
              Edit / Detail
            </button>
            <button type="button" (click)="deleteReview(review.id)" class="btn btn-danger m-b-10 m-l-5">Delete
            </button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-7">
        Total {{reviewList?.numberOfElements}}
      </div>
      <div class="col-5">
        <div class="btn-group float-right">
          <button *ngIf="!reviewList?.first" (click)="prevPageDetails()" class="btn btn-gradient waves-effect"
                  type="button"><i class="fa fa-chevron-left"></i></button>
          <button *ngIf="!reviewList?.last" (click)="nextPageDetails()" class="btn btn-gradient waves-effect"
                  type="button"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="modalService._hideModal(1)" class="btn btn-secondary" data-dismiss="modal">
      Close
    </button>
  </div>
</ng-template>


<ng-template #reviewDetailModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Review Detail</h4>
  </div>
  <div class="modal-body">
    <form (submit)="saveReview()" method="post">
      <input type="hidden" name="id" [(ngModel)]="reviewForm.id">
      <div class="modal-body">
          <div class="alert alert-danger" role="alert" [ngClass]="FadeOutLink()" *ngIf="alert.message.length > 0">
            {{alert.message}}
          </div>
        <div class="basic-form">
          <div class="form-group">
            <label>Visit Date</label>
            <input type="text" name="visitDate" class="form-control" autocomplete="off" mask="00-00-0000"
                   [(ngModel)]="reviewForm.visitDate">

          </div>
          <div class="form-group">
            <label>Comment</label>
            <input type="text"  name="comment" [(ngModel)]="reviewForm.comment" class="form-control" >
          </div>
          <div class="form-group">
            <label>Rate</label>
            <select class="form-control" [(ngModel)]="reviewForm.rate" name="rate">
              <option value=""> Select Rate </option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" (click)="modalRef.hide()" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </form>
  </div>
</ng-template>

